<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/account/complete.css" />
    <link
      rel="icon"
      type="image/png"
      href="../../static/assets/images/favicon.png"
    />
    <title>Re:Link</title>
  </head>
  <body>
    <div id="app">
      <div class="complete-container">
        <img
          src="../../static/assets/images/complete.png"
          class="complete-img"
          alt="회원가입 완료"
        />

        <p class="title">회원가입이 완료되었습니다</p>

        <p class="description">
          이제 프로필을 작성하고<br />
          나에게 맞는 파트너를 찾아보세요.
        </p>

        <div class="bottom">
          <button class="green-btn" onclick="location.href = 'profile.html'">
            프로필 작성하러 가기
          </button>
          <a class="later-btn" href="">나중에 하기</a>
          <!-- 홈으로 이동 -->
        </div>
      </div>
    </div>
  </body>
</html>
