.logo-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 80px;
}

.logo-icon {
  width: 212px;
  height: auto;
}

.logo-text {
  width: 271px;
  height: auto;
}
